.callback {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: -503px;
  margin-bottom: 240px;
  width: 880px;

  @media (max-width: 1023px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 70px;
    width: 100%;
  }
}

.callback__container {
  display: flex;
  flex-direction: column;
  width: 37%;

  @media (max-width: 1023px) {
    align-items: center;
    width: 100%;
  }
}

.callback__text {
  margin: 0 0 20px;

  font-size: 17px;
  line-height: 28px;
  text-align: center;

  color: $white;


  @media (max-width: 1023px) {
    margin-bottom: 30px;
    width: 324px;

    font-size: 18px;
    color: $black;
    font-weight: 600;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;

    width: 288px;

    font-size: 18px;
  }
}

.callback__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  margin-bottom: 18px;

  @media (max-width: 1023px) {
    width: 321px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}

.callback__form input {
  display: block;

  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-bottom: 18px;
  width: 100%;

  font-size: 15px;
  line-height: 24px;
  color: $grey-light;
  border: 1px solid $grey-border;
  border-radius: 4px;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $cyan;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $cyan;
  }

  @media (max-width: 1023px) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    margin-bottom: 18px;
  }

  @media (max-width: 767px) {
    padding-left: 25px;
    padding-bottom: 11px;
  }

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $grey-light;
  }
}

.callback__list li:last-child input {
  margin-bottom: 0;
}

.callback__form button {
  padding-top: 14px;
  padding-bottom: 10px;
  width: 100%;
  height: 51px;

  font-size: 15px;
  line-height: 21px;
  color: $black;
  font-weight: 600;

  background-color: $cyan;
  border: 1px solid $cyan;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  &:focus,
  &:hover {
    color: $white;
    outline: none;
  }

  &:active {
    color: $cyan;
    background-color: $black;
  }

  @media (max-width: 1023px) {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 15px;
  }
}
