.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding-bottom: 240px;

  background-color: $grey-back-dark;
  background-image: url("../img/hero@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero@2x.jpg");
  }

  @media (max-width: 1023px) {
    padding-bottom: 0;
  }
}

.page-header--js .main-nav__list {
  @media (max-width: 1023px) {
    display: none;
  }
}

.page-header--js .menu-bar {
  @media (max-width: 1023px) {
    background-color: transparent;
  }
}
