.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto 150px;
  min-height: 825px;

  background-color: $grey-back-dark;
  background-image: url("../img/hero@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero@2x.jpg");
  }

  @media (max-width: 1439px) {
    width: 100%;
  }

  @media (max-width: 1023px) {
    margin-bottom: 70px;
    min-height: auto;
    background-position-y: 385px;
    background-size: contain;
  }

  @media (max-width: 767px) {
    margin-bottom: 70px;
    min-height: auto;
    background-position-y: 385px;
    background-size: contain;
  }

  @media (max-width: 550px) {
    background-size: auto 390px;
  }

  &--js {
    @media (max-width: 1023px) {
      background-position: center -102px;
    }

    @media (max-width: 767px) {
      background-position: center 0;
    }
  }
}

.page-header--js .site-list {
  @media (max-width: 1023px) {
    display: none;
  }
}
