.site-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 368px;
  width: 100%;
  min-height: 825px;
  color: $white;

  background-color: $grey-back-dark;
  background-image: url("../img/hero@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    align-items: center;
    justify-content: flex-start;

    padding-top: 52px;
    min-height: 340px;
  }
}

.site-intro__container {
  display: flex;
  flex-direction: column;

  padding: 0 calc(50% - 440px);
  width: 100%;

  @media (max-width: $desktop-width) {
    align-items: center;

    padding-top: 82px;
    padding-bottom: 80px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 72px;
    width: 90%;
  }
}

.site-intro h1 {
  margin: 0 0 24px;
  padding: 0;
  width: 47%;

  font-size: 46px;
  line-height: 64px;
  font-weight: 700;

  @media (max-width: $desktop-width) {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    width: 100%;
  }
}

.site-intro p {
  margin: 0;
  width: 47%;

  font-size: 20px;
  line-height: 32px;
  color: $white-80;
  font-weight: 300;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    width: 57%;
  }

  @media (max-width: $tablet-width) {
    width: 92%;
  }
}
