.site-intro {
  display: flex;
  justify-content: space-between;

  width: 880px;
  color: $white;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.site-intro__head {
  display: flex;
  flex-direction: column;

  padding-top: 47px;
  width: 44%;

  @media (max-width: 1023px) {
    padding-top: 84px;
    width: 525px;
    min-height: 290px;

    align-items: center;
  }

  @media (max-width: 767px) {
    padding-top: 70px;
    width: 90%;
    min-height: 340px;
  }
}

.site-intro__head h1 {
  margin: 0 0 24px;
  padding: 0;

  font-size: 46px;
  line-height: 64px;
  font-weight: 700;

  @media (max-width: 1023px) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.site-intro__head p {
  margin: 0;

  font-size: 20px;
  line-height: 32px;
  color: $white-80;
  font-weight: 300;

  @media (max-width: 1023px) {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: 767px) {
    width: 92%;
  }
}

.site-intro__callback {
  display: flex;
  flex-direction: column;
  width: 37%;

  @media (max-width: 1023px) {
    align-items: center;

    padding-top: 70px;
    width: 100%;
    background-color: $white;
  }
}

.site-intro__callback p {
  margin: 0 0 18px;

  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;


  @media (max-width: 1023px) {
    margin-bottom: 30px;
    width: 321px;

    font-size: 18px;
    color: $black;
    font-weight: 600;
    letter-spacing: -0.8px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;

    width: 288px;

    font-size: 18px;
  }
}

.site-intro__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    width: 321px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}

.site-intro__form input {
  display: block;

  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-bottom: 18px;
  width: 100%;

  font-size: 15px;
  line-height: 24px;
  color: $grey-light;
  border: 1px solid $grey-border;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 1px solid $cyan;
  }

  @media (max-width: 1023px) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    margin-bottom: 18px;
  }
}

.site-intro button {
  padding-top: 14px;
  padding-bottom: 10px;
  width: 100%;
  height: 51px;

  font-size: 15px;
  line-height: 21px;
  color: $black;
  font-weight: 600;

  background-color: $cyan;
  border: 1px solid $cyan;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  &:focus,
  &:hover {
    color: $white;
    outline: none;
  }

  &:active {
    color: $cyan;
    background-color: $black;
  }

  @media (max-width: 1023px) {
    padding-top: 16px;
    padding-bottom: 14px;

    letter-spacing: -0.3px;
  }

  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 15px;
  }
}
