.site-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 880px;
  color: $white;

  @media (max-width: 1023px) {
    order: 3;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.site-intro__head {
  display: flex;
  flex-direction: column;

  width: 44%;

  @media (max-width: 1023px) {
    padding-top: 82px;
    padding-bottom: 80px;
    width: 525px;


    align-items: center;
  }

  @media (max-width: 767px) {
    padding-top: 67px;
    padding-bottom: 72px;
    width: 90%;
  }
}

.site-intro__title {
  margin: 0 0 24px;
  padding: 0;

  font-size: 46px;
  line-height: 64px;
  font-weight: 700;

  @media (max-width: 1023px) {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.site-intro__text {
  margin: 0;

  font-size: 20px;
  line-height: 32px;
  color: $white-80;
  font-weight: 300;

  @media (max-width: 1023px) {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: 767px) {
    width: 92%;
  }
}
