.types {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 148px calc(50% - 563px) 100px;
  width: 100%;
  background-color: $grey-back-light;

  @media (min-width: 1024px) and (max-width: 1126px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $desktop-width) {
    padding: 50px calc(50% - 295px) 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 50px calc(50% - 135px) 15px;
  }
}

.types h2 {
  margin: 0 0 60px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $grey-dark;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  @include list-reset;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  width: 100%;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.types__list li {
  position: relative;
  margin-right: 50px;
  margin-bottom: 50px;

  width: 342px;

  @media (min-width: 1024px) and (max-width: 1126px) {
    width: 30%;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";

    transition: 0.5s;
  }

  &:nth-child(3n) {
    margin-right: 0;
    margin-top: -10px;
  }

  &:nth-child(3n-1) {
    padding-top: 30px;
  }

  &:nth-child(3n-2)::before {
    z-index: 1;

    top: 156px;
    left: -60px;

    width: 180px;
    height: 180px;

    border: 27px solid $cyan;
    border-radius: 50%;
  }

  &:nth-child(3n-1)::before,
  &:nth-child(3n-1)::after {
    z-index: 3;

    width: 47px;
    height: 47px;

    border: 8px solid $cyan;
  }

  &:nth-child(3n-1)::before {
    top: 12px;
    left: -18px;
  }

  &:nth-child(3n-1)::after {
    bottom: 32px;
    right: -22px;
  }

  &:nth-child(3n)::after {
    z-index: 3;

    top: -32px;
    right: -36px;

    width: 95px;
    height: 95px;

    border: 17px solid $cyan;
    border-radius: 50%;
  }

  &:nth-child(3n-2) img {
    height: 503px;
  }

  &:nth-child(3n-1) img {
    height: 566px;
  }

  &:nth-child(3n) img {
    height: 512px;
  }
}

@media (max-width: $desktop-width) {
  .types__list li {
    margin-right: 0;
    margin-bottom: 50px;
    width: 270px;

    &:nth-child(3n) {
      margin-top: 0;
    }

    &:nth-child(3n-1) {
      padding-top: 0;
    }

    &:nth-child(2n-2) {
      margin-left: 50px;
    }

    &:nth-child(3n-2)::before {
      top: 200px;
      left: -37px;
      width: 127px;
      height: 127px;

      border: 18px solid $cyan;
    }

    &:nth-child(3n-1)::before,
    &:nth-child(3n-1)::after {
      content: none;
    }

    &:nth-child(3n)::after {
      top: -20px;
      right: -25px;
      width: 68px;
      height: 68px;

      border: 13px solid $cyan;
    }

    &:nth-child(3n-2) img,
    &:nth-child(3n-1) img,
    &:nth-child(3n) img {
      height: 300px;
    }
  }
}


@media (max-width: $tablet-width) {
  .types__list li {
    margin-bottom: 40px;

    &:nth-child(2n-2) {
      margin-left: 0;
    }

    &:nth-child(3n-2)::before {
      left: -24px;
    }

    &:nth-child(3n) {
      top: 3px;
    }

    &:nth-child(3n)::after {
      right: -14px;
      top: -20px;
    }
  }
}

.types__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  line-height: 0;
}

.types h3 {
  margin: 0;
  padding: 0;

  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: $black;
}

.types img {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  border-radius: 10px;

  width: 342px;

  transition: 0.1s;

  @media (max-width: $desktop-width) {
    width: 270px;
    height: 300px;
  }
}


.types__link:hover,
.types__link:focus {
  outline: 0;
  color: $cyan;
}

.types__link:hover img,
.types__link:focus img {
  transform: scale(0.98);
}

.types__link:active img {
  transform: scale(0.9);
}

.types__list li:hover::before,
.types__list li:focus::before {
  transform: scale(0.75);
}

.types__list li:hover::after,
.types__list li:focus::after {
  transform: scale(1.2);
}
